<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <requiredlogin>
            <general>
                <enable>1</enable>
            </general>
            <pageexception>
                <target_url_redirect>customer/account/login</target_url_redirect>
                <select_whitelist></select_whitelist>
            </pageexception>
            <notification>
                <warning_message>The customer is required to login before proceeding.</warning_message>
            </notification>
        </requiredlogin>
    </default>
</config>