<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="requiredlogin" id="requiredlogin">
            <module name="Zone_RequiredLogin" />
        </route>
    </router>
</config>
