<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="zone" translate="label" sortOrder="10">
            <label>Zone</label>
        </tab>
        <section id="requiredlogin" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Customer Required Login</label>
            <tab>zone</tab>
            <resource>Zone_RequiredLogin::requiredlogin_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="pageexception" translate="label" type="text" sortOrder="20" showInDefault="2" showInWebsite="0" showInStore="0">
                <label>Configuration</label>
                <field id="target_url_redirect" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Base Target URL</label>
                    <comment>This is the default url of login</comment>
                </field>
                <field id="select_whitelist" type="multiselect" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>WhiteList Pages</label>
                    <source_model>Magento\Cms\Model\Config\Source\Page</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
            <group id="notification" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Warning Message</label>
                <field id="warning_message" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Warning Message</label>
                    <comment>Output when the direct access was triggered.</comment>
                </field>
            </group>
        </section>
    </system>
</config>